.DS_Store

.envrc
.env

yarn.lock
!apps/property-manager/yarn.lock
!apps/website/yarn.lock
!services/cube/yarn.lock
node_modules

.idea

# Cube.js local cache (pre-aggregations, query cache)
.cubestore

google-services.json
GoogleService-Info.plist
