export KEY_ALIAS=                                                                                                                                  
export KEY_PASSWORD=                                                          
export STORE_FILE=
export STORE_PASSWORD=