export GO_ENV=development
export PORT=5000

export DB_HOST=localhost
export DB_PORT=5432
export DB_USER=
export DB_PASS=
export DB_NAME=your_database
export DB_SSLMODE=disable
export DB_DEFAULT_DBNAME=postgres

export SENTRY_DSN=
export SENTRY_ENVIRONMENT=development

export SUPER_ADMIN_NAME=
export SUPER_ADMIN_EMAIL=
export SUPER_ADMIN_PASSWORD=

export WITTYFLOW_APP_ID=
export WITTYFLOW_APP_SECRET=

export RESEND_API_KEY=

export SUPPORT_EMAIL=
export SUPPORT_PHONE=

export ADMIN_PORTAL_URL=http://localhost:3001
export PROPERTY_MANAGER_PORTAL_URL=http://localhost:3000
export TENANT_PORTAL_URL=http://localhost:3002

export REDIS_URL=redis://localhost:6379

export FINCORE_CLIENT_ID=
export FINCORE_CLIENT_SECRET=