@import "tailwindcss";
@import "@casoon/tailwindcss-glass";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-rose-50/20;
  color-scheme: light;
}
